<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos-contato.css' %}">
<link rel="icon" href="{% static 'imagens/favicon-django.webp' %}" type="image/x-icon">
<title>Insert title here</title>
</head>
<body class="contato">
    <header id="header" role="banner">
        <div class="interface">
            <div class="logo">
                <a href="/">
                    <img class="logo" src="{% static 'imagens/log-django.png' %}" alt="Logo do framework Django">
                </a>
            </div><!--logo-->

            <nav class="menu-desktop" id="nav" role="navigation">
        		<button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
            		aria-expanded="false">Menu
            		<span id="hamburger"></span>
        		</button>
        		<ul id="menu" role="menu">
            		<li><a class="opcoes" href="/">Inicio</a></li>
            		<li><a class="opcoes" href="/sobre/">Sobre mim</a></li>
            		<li><a class="opcoes" href="/especialidades/">Especialidades</a></li>
        		</ul>
    		</nav>

            <div class="btn-contato">
                <a href="/contato/">
                    <button>Contato</button>
                </a>
            </div><!--btn-contato-->
		</div><!--interface-->
    </header>

<main>
	<section class="contato">
    <div class="interface-contato">
        <h2 class="titulo">ENTRE EM <span>CONTATO.</span></h2>

        <div class="contato-flex">
            <form action="https://formsubmit.co/jesusvzlanz@gmail.com" method="POST" class="form-contato">
    <input type="text" name="nome" placeholder="Seu nome" required>
    <input type="email" name="email" placeholder="Seu e-mail" required>
    <input type="text" name="assunto" placeholder="Assunto">
    <textarea name="mensagem" placeholder="Digite sua mensagem" required></textarea>
    <input type="hidden" name="_next" value="http://127.0.0.1:8000/obrigado/">
    <input type="submit" value="Enviar" class="btn-enviar">
</form>

        </div>
    </div>
	</section>
</main>
    <script src="{% static 'js/MenuResponsivo.js' %}"></script>
</body>
</html>